<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
  <!--[if IE]>
    <script src=/js/html5.js /> 
  <![endif]-->
  <link rel="shortcut icon" type=image/x-icon href=/favicon.ico />
  <link rel=stylesheet type=text/css media="screen, projection" charset=utf-8 href=/css/screen.css />
  <link rel=stylesheet type=text/css media="screen, projection" charset=utf-8 href=/css/pygments.css />
  <link rel=alternate type="application/rss+xml" title="RSS" href="/atom.xml" /> 
<script src="http://www.google.com/jsapi"></script>
<script>
  google.load("jquery", "1.4.2");
 </script>
</head>
<body>
<div id=wrap class=container_12>
<header class="grid_12 alpha omega">
{% if site.title %}
  <h1><a href="{{site.url}}">{{site.title}}</a></h1>
{% endif %}
</header>
<section class="grid_12 alpha omega">
{{ content }}
</section>
<div class=clear></div>
<footer>
<div class="grid_4 alpha">
  <p> 
    {% if site.author %}{{site.author}} {% endif %}<br/>
     {% if site.email %}{{site.email}} {% endif %}<br/>
  </p> 
</div> 
<div class="grid_6">
  <p> 
    <a href="http://twitter.com/sunny36">twitter.com/sunny36</a><br /> 
  </p> 
</div> 
<div class="grid_2 omega"> 
  <a href="{{site.url}}/atom.xml" class="noul"> 
    <img src="/img/rss.png" alt="Subscribe to RSS Feed" /> 
  </a> 
</div> 
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
var pageTracker = _gat._getTracker("{{site.analytics_id}}");
pageTracker._trackPageview();
</script> 
</footer>
<div class="clear"></div>
</div><!-- .container_12 -->

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/sunny36/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</body>
</html>
